# Python
__pycache__/
*.py[cod]
venv/
.env

# Jupyter
.ipynb_checkpoints

# Data
data/
*.csv
*.xlsx

# Power BI Project exclusions
*.pbix.user
*.pbip.user
.pbi/localSettings.json
.pbi/cache/

# IDE
.vscode/

# Environments
.env
.venv
env/
venv/